<nav class="navbar navbar-light bg-light  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="articles">
      <img src="https://www.transparentpng.com/thumb/blogging/blogging-amazing-image-download-0.png" alt="" height="60" class="d-inline-block align-text-top">
    </a>
    <div>
    <a class="navbar-brand" routerLink="articles">Home</a>
    <a class="p-2 me-2" routerLink="articles">All Blogs <i class="fa a fa-newspaper-o"></i></a>
    <a class="btn btn-outline-warning p-2" routerLink="create">New Blog</a>
  </div>
  </div>
 </nav>    
<!--Main layout-->
<main class="mt-5">
  <div class="container  pt-1">
    <div class="mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<!--Main layout-->

<!-- footer -->
<br><br>
<!-- <footer class="fixed-bottom text-center footer">
    Copyright 2020-2021 by Fresher Training
</footer> -->


